// greyscale
$greyscale1 : #fff;
$greyscale2 : #fbfaf8;
$greyscale3 : #f6f6f6;
$greyscale4 : #ededed;
$greyscale5 : #ddd;
$disable : #ddd;
$greyscale6 : #b2b2b2;
$secondary : #b2b2b2;
$greyscale7 : #919191;
$placeholder : #919191;
$greyscale8 : #707070;
$caption : #707070;
$greyscale9 : #212121;
$primary : #212121;

// size
$max-size: 768px;