// greyscale
$greyscale1 : #212121;
$primary : #212121;
$greyscale2 : #707070;
$caption : #707070;
$greyscale3 : #919191;
$placeholder : #919191;
$greyscale4 : #b2b2b2;
$secondary: #b2b2b2;
$greyscale5 : #ddd;
$disable : #ddd;
$greyscale6 : #ededed;
$greyscale7 : #f6f6f6;
$greyscale8 : #fbfaf8;
$greyscale9 : #fff;

// size
$max-size: 768px;

$mainDark4:#43126e;
$mainDark3:#591892;
$mainDark2:#7220ba;
$mainDark1:#8728da;
$main: #9f32ff;
$main1: #9f32ff;
$main2: #b057ff;
$main3: #c077ff;
$main4: #ca8dff;
$main5: #d3a0ff;
$main6: #ddb6ff;
$main7: #e1c0ff;
$main8: #e8d0ff;
$main9: #efdeff;

$yellowDark4:#64572d;
$yellowDark3:#867537;
$yellowDark2:#9a832f;
$yellowDark1:#c5a942;
$yellow: #FBDA65;
$yellow1: #FBDA65;
$yellow2: #ffe177;
$yellow3: #ffe791;
$yellow4: #ffeeaf;
$yellow5: #fff2c5;
$yellow6: #fff6d4;
$yellow7: #fff9e2;
$yellow8: #fffcf2;

$pinkDark4:#6b233a;
$pinkDark3:#913754;
$pinkDark2:#ad4868;
$pinkDark1:#dd7d9b;
$pink: #ff96b7;
$pink1: #ff96b7;
$pink2: #ffa5c2;
$pink3: #ffb5cc;
$pink4: #ffc2d5;
$pink5: #ffcede;
$pink6: #ffdbe7;
$pink7: #ffe3ec;
$pink8: #ffedf3;

$greenDark4:#084f0f;
$greenDark3:#12771c;
$greenDark2: #1ca42a;
$greenDark1: #2ad33b;
$green: #3fff52;
$green1: #3fff52;
$green2: #79ff86;
$green3: #91ff9c;
$green4: #aaffb3;
$green5: #beffc4;
$green6: #d0ffd4;
$green7: #ddffe0;
$green8: #ecffee;

$blueDark4: #0b0e5f;
$blueDark3: #181c85;
$blueDark2: #1f24a6;
$blueDark1: #2f34db;
$blue: #3940ff;
$blue1: #3940ff;
$blue2: #555bff;
$blue3: #6f73ff;
$blue4: #8a8eff;
$blue5: #a0a3ff;
$blue6: #b8bbff;
$blue7: #cfd1ff;
$blue8: #e0e1ff;

$redDark4:#840808;
$redDark3:#a10e0e;
$redDark2:#c31414;
$redDark1: #e21717;
$red: #ff1d1d;
$red1: #ff1d1d;
$red2: #ff4141;
$red3: #ff6060;
$red4: #ff7676;
$red5: #ff9191;
$red6: #ffa4a4;
$red7: #ffbaba;
$red8: #ffcaca;
$red9: #ffdcdc;
