// greyscale
$greyscale9: #212121;
$primary: #212121;
$greyscale8: #707070;
$caption: #707070;
$greyscale7: #919191;
$placeholder: #919191;
$greyscale6: #b2b2b2;
$secondary: #b2b2b2;
$greyscale5: #ddd;
$disable: #ddd;
$greyscale4: #ededed;
$greyscale3: #f6f6f6;
$greyscale2: #fff;

// size
$max-size: 768px;

$main1: #bba8d4;
$main2: #9985b4;
$main: #735c92;
$main3: #735c92;
$main4: #573f77;
$main5: #402b5c;

$pink1: #dfc1de;
$pink2: #ca9bc8;
$pink: #b275af;
$pink3: #b275af;
$pink4: #9d559a;
$pink5: #8a3986;

$yellow1: #ffdfa7;
$yellow2: #ffd487;
$yellow: #ffca6c;
$yellow3: #ffca6c;
$yellow4: #e5ad4b;
$yellow5: #d0952e;

$pink: #b275af;
$main: #735c92;
$yellow: #ffca6c;
