.headline1MD {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
}
.headline1BD {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}
.headline2MD {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}
.headline2BD {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}
.headline3MD {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
}
.headline3BD {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
}
.body1MD {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.body1BD {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.body2MD {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.body2BD {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.body3MD {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.body3BD {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.caption1MD {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: -0.75px;
}
.caption1BD {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: -0.75px;
}
.caption1UL {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: -0.75px;
  text-decoration: underline;
}
